body {
    font-family: Arial, Helvetica, sans-serif;
}

#logo { height: 200px;
    float: left;
}

.small {
    font-size: x-small;
}

.active {
    background-color: rgb(77,184,72);
  }

nav li a {
    text-decoration: none;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

nav li a:hover:not(.active) {
    background-color: #111;
}

nav uL {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

#cart {
    color: grey;
    border-style: solid;
    border-width: 2px;
    border-color: grey;
    margin-top: 10px;
    clear: both;
    text-align: left;
    
}

/* use to center content in a section */
.center {
    text-align: center;
}

.button {
    margin: 5px;
    background-color: white;
    color: black;
    border: 2px solid rgb(77,184,72); 
    border-radius: 8px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    width: 50%;
}

.button:hover {
    background-color: rgb(77,184,72);
    color: white;
}

.product {
    height: 100px;
}

.icon {
    height: 45px;
    padding-top: 5px;
}

.big-color {
    color: rgb(92,163,190);
    font-size: larger;
}

h1 {color: white;
}

h2 {color: grey}

header {
    background-color: rgb(77,184,72);
    height: 200px;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(17,18,36);
    
}


article {
    float: left; 
    width: 33%;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(17,18,36);
    margin-top: 30px;
}

footer {
    float: left;
    margin-top: 30px;
    border-top: rgb(77,184,72);
    border-top-style: solid;
    position:relative;
    bottom:0px;
    width: 100%;
    padding-top: 5px;
    
}